# Bağımlılıklar (Node Modules)
node_modules/
/.pnp
.pnp.js

# Next.js'in Derleme ve Çalışma Çıktıları
.next/
out/

# Geliştirme Ortamı ve Gizli Değişkenler (Şifreler, API Anahtarları)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Log Dosyaları (Hata Kayıtları)
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Sistem Dosyaları (Mac ve Windows için gereksiz arka plan dosyaları)
.DS_Store
Thumbs.db

# Editör ve IDE Ayarları (VS Code, WebStorm vb.)
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?